# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ConsoleApp.iml
# Datasource local storage ignored files
/../../../../../../../../:\alexandra\git_repositories\FMAL-Assignment-4\ConsoleApp\.idea\.idea.ConsoleApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
