{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row text-center" style="display:none;", id="order_complete_msg">
        <h1>Order Complete!</h1>
        <h3>Thank your for your purchase!</h3>
        <hr class="light">
    </div>
    <div class="container-fluid">

        <div class="row">
            <!-- LEFT SIDE -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>Overview</h1>
                <hr class="light">
                <form class="form-group text-left col-xl-9 col-lg-6 col-md-7 col-sm-10 col-xs-12" method="post" id="shipping_form">
                    {% csrf_token %}

                    <h2>Shipping info</h2>
                    <ul>First name: {{ shipping_info.first_name }}</ul>
                    <ul>Last name: {{ shipping_info.last_name }}</ul>
                    <ul>Address: {{ shipping_info.address_1 }}</ul>
                    {% if shipping_info.address_2 %}
                        <ul>Address 2: {{ shipping_info.address_2 }}</ul>
                    {% endif %}
                    <ul>City: {{ shipping_info.city }}</ul>
                    <ul>Country: {{ shipping_info.country.name }}</ul>

                    <h2>Payment info</h2>
                    <ul>First name: {{ payment_info.first_name }}</ul>
                    <ul>Last name: {{ payment_info.last_name }}</ul>
                    <ul>Card number: {{ payment_info.card_number }}</ul>
                </form>
            <div class="row">
                <div class="col-auto mr-auto">
                    <button type="reset" class="btn btn-primary return-button" id="order-return-button">Back</button></div>
            </div>
            </div>


            <!-- RIGHT SIDE -->
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                {% if products %}

                    <h1>Cart</h1>
                    <hr class="light">
                    <br>
                    <div class="d-flex flex-row flex-wrap justify-content-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                                <th scope="col">price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <form >
                                {% for product in products %}
                                    <tr>

                                        <th>
                                            <h4 class="card-title">{{ product.name }}</h4>
                                        </th>
                                        <th>
                                            <h4>{{ product.quantity }}</h4>
                                        </th>
                                        <th>
                                            {% if product.discount %}
                                                <h4 class="on-sale-tag">{{ product.discount }}% discount</h4>
                                            {% endif %}
                                        </th>
                                        <th>
                                            <h4>{{ product.price }}</h4>
                                        </th>
                                    </tr>
                                {% endfor %}
                            </form>
                            <tr>
                                <th scope="row">
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                    <h4>Total: {{ price_sum }}kr.</h4>
                                </th>
                            </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-primary" type="submit" form="shipping_form" id="order_complete_btn">Place Order</button>
                        <a href="/" class="btn btn-primary" id="continue-shopping" style="display: none">Continue Shopping</a>
                    </div>
                {% endif %}
                {% if order_complete %}
                    <script src="{% static 'js/order_complete.js' %}"></script>
                {% endif %}

            </div>
        </div>
    </div>
    <script src="{% static 'js/update_shipping_info.js'%}"></script>
    <script src="{% static 'js/in_field_placeholder.js' %}"></script>
    <script src="{% static 'js/back_function.js' %}"></script>
{% endblock %}
