# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FMAL-Assignment-1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\rikki\Documents\RU\RU-Projects\FMAL-Assignment-1\FMAL-Assignment-1\.idea\.idea.FMAL-Assignment-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
