<footer class="">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-3">
        <h5>
          <hr class="light">
          Location
          <hr class="light">
        </h5>
        <p>
          Menntavegur 14
            <br>
            101 Reykjavík
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h5>
          <hr class="light">
          Contact Information
          <hr class="light">
        </h5>
        <p>
          Telephone: 555-5555
            <br>
          Email: info@retro.is
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h5>
          <hr class="light">
          Hours
          <hr class="light">
        </h5>
        <p>
          Weekdays: 10:00 - 18:00
            <br>
          Weekends: 11:00 - 19:00
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h5>
          <hr class="light">
          Copyrights
          <hr class="light">
        </h5>
        <p>
          Retro Gaming Inc.
        </p>
      </div>

    </div>
  </div>
</footer>
