# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Assignment-2.iml
# Datasource local storage ignored files
/../../../../../../../../:\alexandra\git_repositories\FMAL-Assignment-2\Assignment-2\.idea\.idea.Assignment-2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
