# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApp1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\alexandra\git_repositories\FMAL-Assignment-3\ConsoleApp1\.idea\.idea.ConsoleApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
